@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="px-4">
    <div class="card-deck">

        <div class="card col-4 p-0 mb-3">
            <div class="card-header">Title Here 1</div>
            <div class="card-body">
                <p class="card-text">Some example text. Some example text.  This text is longer</p>
                <p class="card-text">Some example text. Some example text.  This text is longer than the other text</p>
                <p class="card-text">Some example text. Some example text.  This text is longer</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>

        </div>


        <div class="card col-8 p-0 mb-3">
            <div class="card-header">Title Here 2</div>
            <div class="card-body">
                <p class="card-text">Some example text. Some example text.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

    </div>
</main>