@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<row>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Title Here</div>
            <div class="card-body">
                <p class="card-text">Some example text. Some example text.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</row>